@layout("layout_project")
@section("style-section")
@endsection
@section("home")   
          <form method="GET" action="{{route('/home')}}">
        <label>coming soon ...</label>
        </form>  
        
        
@endsection
