<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {{style("CSS/reset")}}
        {{--  @include("global-css")  --}}
         @!section("style-section")
    </head>
<body>
    @!section("content")
    {{--  {{script(js/index)}}      --}}
</body>
</html>