<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{--  <meta name="google-signin-client_id" content="AIzaSyCfvam0Nh2PEf3WFO0vSyxxOLWd9_w1Q2M">  --}}
    {{--  <script src="https://apis.google.com/js/platform.js" async defer ></script>  --}}
    <title>ชวนมาเที่ยว</title>
   @!section("style-section")
   {{style("CSS/reset")}}
   {{style("CSS/nav")}}
   {{style("CSS/footer")}}
   <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '393084781668182',
        cookie     : true,
        xfbml      : true,
        version    : 'v8.0'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
    {{ script('js/index') }}
    <div id="fb-root"></div>
    
    <script 
    async defer crossorigin="anonymous" 
    src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v8.0&appId=393084781668182&autoLogAppEvents=1" 
    nonce="tGOmVxCe">
    </script> 

    

    <nav class="topnav"> 
        <button class="button" href="">สร้างโพส</button>
        <div 
            class="fb-login-button" 
            data-size="large" 
            data-button-type="login_with" 
            data-layout="default" 
            data-auto-logout-link="true" 
            data-use-continue-as="true" 
            data-width="">
        </div>
        
    </nav>

    @!section("home")
    @!section("post")
    @!section("commit")
    @!section("regionNorthern")
    @!section("regionSouthern")
    @!section("regionCentral")
    @!section("regionIsaan")
    <footer class="footer">
     <p>project M5</p>
    </footer>
</body>
</html>


