@layout('layout')
@section("style-section")
{{style("css/reset")}}
    {{style("css/login")}}
@endsection
@section("content")
    <div class="container">
        <span class="big-title">
            Register
        </span>
    </div>
@endsection