body, html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* font-size: 20px; /* em ขนาดหน่วยเทียบกับขนาดฟอนต์ defult(2em = 2*16px) /
    rem ขนาดหน่วยเทียบกับขนาดฟอนต์ bodytext*/ 
}
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.position-container{
    
    font-size: 2rem; 
    /* 16*2px */
}
.box-container{
    background-color: rgb(147, 235, 147);
    width: 20rem;
    height: 20rem;
    position: relative;
}
.box{
    background-color: rgb(255, 0, 0);
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    /* rem 16*1px */
}
.content{
    flex:1;
    display: flex;
   justify-content: center;
   align-items: center ;
   height: 100%;
}
.red{
    background-color: crimson;
    color: aliceblue;
    flex: 5;
}
.blue{
    background-color: dodgerblue;
    color: aliceblue;
}
.green{
    background-color: mediumspringgreen;
}
.hello{
    background-color: blueviolet;
}
.text-fit{
    width: fit-content;
}