.container{
    display: flex;
    flex-direction: row; 
    height: 100%;
   }
 .content{
    flex:1;
    display: flex; 
    justify-content: center;
    align-items: center ;
    height: 100%;
  }
  .hero-text{
       font-size: 3rem;
  }