
.button {

  background-color: #4CAF50; /* Green */
  border-style: solid;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 10px ;
  padding: 0 20px 0 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px ;
  background-color: #405912;
  border-color: #405912;
  width: 200px;
}

.button:hover {
  border-style: solid;
  background-color: white;
  border-radius: 5px ;
  color: #405912;
  border-color: #405912;
  
  
}